/* line 19, C:/Users/fabien.sanchez/Documents/www/Calindex/style/scss/index.scss */
.mois {
  position: relative;
  float: left;
  width: 31%;
  margin: 0.5%;
  border: 2px solid #888;
  border-radius: 10px; }
  /* line 27, C:/Users/fabien.sanchez/Documents/www/Calindex/style/scss/index.scss */
  .mois .masc {
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    z-index: 2; }
  /* line 36, C:/Users/fabien.sanchez/Documents/www/Calindex/style/scss/index.scss */
  .mois .mois-in {
    margin: 2px;
    padding: 10px;
    z-index: 1; }

/* line 42, C:/Users/fabien.sanchez/Documents/www/Calindex/style/scss/index.scss */
.jour {
  width: 100%;
  border-top: 1px solid #eee; }
  /* line 45, C:/Users/fabien.sanchez/Documents/www/Calindex/style/scss/index.scss */
  .jour.ferier {
    background-color: #eef; }
    /* line 47, C:/Users/fabien.sanchez/Documents/www/Calindex/style/scss/index.scss */
    .jour.ferier.we {
      background-color: #eff; }
      /* line 49, C:/Users/fabien.sanchez/Documents/www/Calindex/style/scss/index.scss */
      .jour.ferier.we.aujourdhui {
        background-color: #fff; }
    /* line 53, C:/Users/fabien.sanchez/Documents/www/Calindex/style/scss/index.scss */
    .jour.ferier.aujourdhui {
      background-color: #fef; }
  /* line 57, C:/Users/fabien.sanchez/Documents/www/Calindex/style/scss/index.scss */
  .jour.we {
    background-color: #efe; }
    /* line 59, C:/Users/fabien.sanchez/Documents/www/Calindex/style/scss/index.scss */
    .jour.we.aujourdhui {
      background-color: #ffe; }
  /* line 63, C:/Users/fabien.sanchez/Documents/www/Calindex/style/scss/index.scss */
  .jour.aujourdhui {
    background-color: #fee; }
  /* line 66, C:/Users/fabien.sanchez/Documents/www/Calindex/style/scss/index.scss */
  .jour .abrnomjour {
    width: 1.5em; }
  /* line 69, C:/Users/fabien.sanchez/Documents/www/Calindex/style/scss/index.scss */
  .jour .numjour {
    width: 2em;
    font-weight: bold;
    color: #c00808; }
  /* line 74, C:/Users/fabien.sanchez/Documents/www/Calindex/style/scss/index.scss */
  .jour .event {
    font-size: 0.75em; }
    /* line 76, C:/Users/fabien.sanchez/Documents/www/Calindex/style/scss/index.scss */
    .jour .event ul {
      list-style-type: none; }
    /* line 79, C:/Users/fabien.sanchez/Documents/www/Calindex/style/scss/index.scss */
    .jour .event .event-perp {
      color: #222; }
    /* line 82, C:/Users/fabien.sanchez/Documents/www/Calindex/style/scss/index.scss */
    .jour .event .event-norm {
      color: #22e; }
  /* line 86, C:/Users/fabien.sanchez/Documents/www/Calindex/style/scss/index.scss */
  .jour .za {
    width: 4px;
    height: 100%; }
    /* line 89, C:/Users/fabien.sanchez/Documents/www/Calindex/style/scss/index.scss */
    .jour .za.vac {
      background-color: #f77; }
  /* line 93, C:/Users/fabien.sanchez/Documents/www/Calindex/style/scss/index.scss */
  .jour .zb {
    width: 4px;
    height: 100%; }
    /* line 96, C:/Users/fabien.sanchez/Documents/www/Calindex/style/scss/index.scss */
    .jour .zb.vac {
      background-color: #7f7; }
  /* line 100, C:/Users/fabien.sanchez/Documents/www/Calindex/style/scss/index.scss */
  .jour .zc {
    width: 4px;
    height: 100%; }
    /* line 103, C:/Users/fabien.sanchez/Documents/www/Calindex/style/scss/index.scss */
    .jour .zc.vac {
      background-color: #77f; }
  /* line 107, C:/Users/fabien.sanchez/Documents/www/Calindex/style/scss/index.scss */
  .jour .btnadd {
    text-align: center;
    width: 64px; }
    /* line 110, C:/Users/fabien.sanchez/Documents/www/Calindex/style/scss/index.scss */
    .jour .btnadd .btnadd-norm {
      margin: 0 2px;
      color: #000;
      background: #bfd255;
      /* Old browsers */
      background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfd255), color-stop(50%, #8eb92a), color-stop(51%, #72aa00), color-stop(100%, #9ecb2d));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 );
      /* IE6-9 */ }
    /* line 123, C:/Users/fabien.sanchez/Documents/www/Calindex/style/scss/index.scss */
    .jour .btnadd .btnadd-perp {
      margin: 0 2px;
      color: #fff;
      background: #4c4c4c;
      /* Old browsers */
      background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c4c4c), color-stop(12%, #595959), color-stop(25%, #666666), color-stop(39%, #474747), color-stop(50%, #2c2c2c), color-stop(51%, #000000), color-stop(60%, #111111), color-stop(76%, #2b2b2b), color-stop(91%, #1c1c1c), color-stop(100%, #131313));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
      /* IE6-9 */ }

/* line 137, C:/Users/fabien.sanchez/Documents/www/Calindex/style/scss/index.scss */
a.btn {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 4px;
  line-height: 20px;
  font-size: 18px;
  text-decoration: none;
  text-align: center; }
